.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 60px;
}

.hero-p{
    width: 100%;
    height: 700px;
    background-image:url(../Assets/hero_img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    
}
.bottom{
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: auto;
   
}
.letters{
    text-align: center;
    font-size: 16px;
    color: #c6c3c3;



}
.left-line,
.right-line{
    width: 200px; 
    height: 50px; 
    background-image:url(../Assets/line-img.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}